body {
  margin: 0;
  padding: 0;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  /* border: 1px solid red; */
  height: 500px;
  /* width: 500px; */
  background: url("./banner.jpg") center center no-repeat;
  padding: 20px;
}

.about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
  /* display: block; */
  /* float: right; */
}

.about,
.sign-in {
  text-decoration: none;
  padding: 7px 15px;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
}

.sign-in {
  margin-left: 25px;
  margin-right: 60px;
  border-radius: 20px;
  border: 1px solid green;
}

.logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}

.text {
  text-align: center;
  margin-top: 30px;
}

.btn-start-now {
  text-align: center;
}

button {
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 25px;
  cursor: pointer;
}

.content-center {
  /* height: 50px; */
  /* border: 1px solid red; */
  /* display: inline-block; */
}

.left,
.right,
.center {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .left,
.right,
.center span {
  display: block;
} */

span {
  display: block;
  font-size: 20px;
}

img {
  width: 30px;
  height: 30px;
}
